body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn.btn-outline-success {
  border-radius: 5px;
}

.btn.btn-outline-success:hover {
  box-shadow: 10px 10px 20px rgb(51, 50, 53);
} 


.btn.btn-outline-danger {
  border-radius: 5px;
}

.btn.btn-outline-danger:hover {
  box-shadow: 10px 10px 20px rgb(51, 50, 53);
} 