.tables-container {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  font-family: 'Kaisei HarunoUmi', serif;
}

.MuiPaper-root {
  box-shadow: 10px 10px 20px rgb(23, 88, 32) !important;
  border-radius: 5px !important;
  transition: transform .4s !important;
  border:rgb(23, 88, 32) solid 1px;
  margin: auto !important;
  padding-top: 15px;
  opacity: 0.9;
}

.MuiPaper-root:hover {
  transform: scale(1.02);
}

.enrolled-text {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.search-enrolled {
  display: flex;
  justify-content: center;
}

.unenrolled-text {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.search-unenrolled {
  display: flex;
  justify-content: center;
}

.enroll-search-bar {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border: solid 1px rgb(67, 70, 226);
  padding-bottom: 5px !important;
  width: 300px;
}

.enroll-search-bar:focus {
  outline: none;
  border: solid  1.5px rgb(41, 21, 131);
  transition: 0.1s;
}

#enroll-clear-btn {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  opacity: 0.9;
}

.unenroll-search-bar {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border: solid 1px rgb(67, 70, 226);
  padding-bottom: 5px !important;
  width: 300px;
}

.unenroll-search-bar:focus {
  outline: none;
  border: solid 1.5px rgb(41, 21, 131);
  transition: 0.1s;
}

#unenroll-clear-btn {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  opacity: 0.9;
}

.enroll-course-title {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: 'Kaisei HarunoUmi', serif;
}