.individual-course {
    display: flex;
    justify-content: center;
    width: 80%;
    /* float:left; */
    margin-left: 9%;
    margin-bottom: 30px;
    font-family: 'Kaisei HarunoUmi', serif;

}

.course-card {
    box-shadow: 10px 10px 20px rgb(23, 88, 32);
    transition: transform .4s;
    border-radius: 5px !important;
    border-color: gray !important;
    opacity: 0.9;
}


.course-card:hover {
    transform: scale(1.03);
    box-shadow: 20px 20px 50px rgb(23, 88, 32);
}

.teacher-course-menu-btns {
    margin-left: 10px;
    display:flex;
    float: right;
}

.card-title-text {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.student-unenroll-btn {
    border-radius: 5px !important;
    display:flex;
    float: right;
}

.student-unenroll-btn:hover {
    box-shadow: 10px 10px 20px rgb(51, 50, 53);
} 

.course-description-toggle {
    background-color: rgba(7,102,122,1);
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid 1px;
}
.student-enroll-btn {
    display:flex;
    float: right;
    width: 90px !important;
    justify-content: center;
}

.collapse.show {
    background-color: rgb(240, 240, 240);
}

.collapsing {
    background-color: rgb(240, 240, 240);
}

.title-link {
    color: teal;
}