#new-course-text {
  display: flex ;
  justify-content: center;
  margin-top: 7%;
  font-size: 30px;
  font-family: 'Kaisei HarunoUmi', serif;
  text-shadow: 1px 1px 5px black;
  color:white

}

.create-course-btns {
  display: flex;
  justify-content: center;
}


.create-course-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Kaisei HarunoUmi', serif;
  };


