.btn.btn-outline-light {
    border-radius: 5px !important;
    width: 145px !important;
    margin: 2px
}


.login-buttons {
    display: flex;
    padding-left: 15.5%;
}

.login-form {
    padding-top: 14%;
    padding-left: 50%;
    opacity: 80%;
}

.login-bar {
    border-radius: 5px !important;
    width: 300px !important;
    margin-left: 100px;
}

.password-bar {
    border-radius: 5px !important;
    width: 300px !important;
    margin-left: 100px;
}

.welcome-text {
    color: white;
    font-size: 30px;
    padding-left: 12%;
    font-family: 'Kaisei HarunoUmi', serif;
}